<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
</head>

<body
  style="display: flex; justify-content: center; align-items: center; font-size: xx-large; height: 100vh; margin: 0;">
  <h1 style="text-align: center;">Not Found</h1>
  <script>
    // Wait for 5 seconds and then redirect
    setTimeout(() => {
      window.location.href = "/";
    }, 5000);
  </script>
</body>

</html>